.div1{
    height: 500px;
    width: 450px;
    background-color: azure;
    border-color: black;
    margin: auto;
}
.heading{
    background-color: antiquewhite;
}
.entry{
    /* float: left; */
    
    margin: 17px 17px;
}
.div2{
    /* float: left; */
    margin: auto;
    height: 30px;
    width: 200px;
    background-color: aquamarine;
    border-radius: 5%;
    /* margin-left: -110px; */
}